.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-tweet textarea {
  background-color: transparent;
  display: flex;
  width: 80vw;
  outline: none;
  border: none;
  border-bottom: 3px solid;
  margin-bottom: 20px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-family: "Bungee", sans-serif;
}

.new-tweet button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  color: whitesmoke;
  padding: 5px;
  border: 2px royalblue;
  border-radius: 4px;
  outline: none;
}

